PORT=8000
MONGODB_URI=mongodb+srv://ashwani:ashwani83602@cluster0.fuaa3ej.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=YIUWEGFJWEFJGEWFUGEF
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=WDGQWUIDGIQWLGDQLIUWGDUQW
REFRESH_TOKEN_EXPIRT=10d